<section class="board">
    <div class="result">
        <h1 id="resultText">Hangman rules</h1>
        <p>
            <br/>
            There are 194 countries in the world. Do you know their capitals? Let's check!<br/>
            We draw one for you. All letters have been converted to dashes.<br/>
            <br/>
            If you write the wrong letter, you lose 1 point.<br/>
            If you guess - dash changes for letter in the right place.<br/>
            <br/>
            If you write the wrong word, you lose 2 points.<br/>
            If you guess - dashes change for world.<br/>
            <br/>
            If you have last health point, we give you a hint - name of the country.<br/>
            <br/>
            Don't let the guy hang!!<br/>
            <br/>
            Try to guess the word as soon as possible. The clock is ticking ;)<br/>
        </p>
        <button><span><a href="/hangman">back</a></span></button>
    </div>
</section>