<section class="game-board">
 <div class="draw">
    <figure>
        <img src="{{ photo_src }}">
    </figure>
    <h3>{{ guess }}</h3>
    <form method="POST">
        <div class="inputField">
            <label for="name-input-box">Your guess:</label>
            <input type="text" name="user-guess" id="name-input-box" required>
            <button type="submit">check</button>
        </div>
    </form>
 </div>
 <div class="usage">
    <h1>user :       {{ player.getNick() }}</h1>
    <h1>time:</h1>
     <br/>
    <h1>user guess:</h1>
    <div class="answers">
        <p> letters  {{ guessTable.getUsedLetters() }}</p>
    </div>
     <div class="answers">
         <p> words   {{ guessTable.getUsedWords() }}</p>
     </div>
 </div>
</section>
