<header class="primary-header">
    <h1>hangman</h1>
    <nav class="primary-nav">
        <ul>
            <li><a href="/hangman/rules">rules</a></li>
            <button><span><a href="/hangman/exit">exit</a></span></button>
        </ul>
    </nav>
</header>
{% include game_board ignore missing %}

