<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>hangman</title>
  <link rel="stylesheet" type="text/css" href="assets/css/game.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
</head>

<body>
<header class="primary-header">
  <h1>hangman</h1>
  <nav class="primary-nav">
        <ul>
            <li><a href="">highscore</a></li>
            <li><a href="">help</a></li>
	    <button class="btn type="submit"><span>exit</span></button>
        </ul>
  </nav>
</header>
<div class="game-board">
  <section class="draw">
    <img src="../assets/pics/hangman10.png">
  </section>
  <section class="usage">
  <p>test</p>
  <p> usage words and letters</p>
  </section>
</div>
</body>
</html>
