<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>hangman</title>
  <link rel="stylesheet" type="text/css" href="assets/css/game.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
  <link rel="stylesheet" href="https://www.dafont.com/eraser.font">
</head>

<body>
<header class="primary-header">
  <h1>hangman</h1>
  <nav class="primary-nav">
        <ul>
            <li><a href="">highscore</a></li>
            <li><a href="">help</a></li>
	    <button class="btn type="submit"><span>exit</span></button>
        </ul>
  </nav>
</header>
<section class="game-board">
  <div class="draw">
	<figure>
    		<img src="../assets/pics/hangman10.png">
	</figure>
	<h3>_ _ _ _ _ _ _</h3>
	<form method="POST">
	   <div class="inputField">
		<label for="name-input-box">Your guess:</label>
		<input type="text" name="userGuess" required>
		<button type="submit">check</button>
	   </div>
	</form>
  </div>
  <div class="usage">
    <h1>user:</h1>
    <h1>time:</h1>
    <h1>points: </h1>
    <h1>user quess</h1>
  </div>
</section>
</body>
</html>
