<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>hangman</title>
    {% include content_css ignore missing %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
</head>
<body>
{% include content_path ignore missing %}
</body>
</html>