<!DOCTYPE html>
<html lang="en">
<head>
  <title>hangman</title>
  <meta charset="utf-8">
</head>
<body>
<h1>>> Hangman Game <<</h1>
<form method="POST" class="labels">
   <lable>
   	Nick :
        <input type="text" name="nick" required>
   </lable>
   <button type="submit">submit</button>
</form>
</body>
</html>
